<%= @itm.ecode.html_safe %>
<br/>



<div class="row" style="margin-left: 0px;">

    <div class="">
      <div class="alert alert-success"  style="margin-top: 10px;">
        Mời bạn xem các video khác
      </div>
    </div>
    <div class="span" style="margin-left: 0px;">

<% @rel_itms.each do |v| %>
  <a href="<%= kid_lib_path(v) %>"><%= v.title %></a> <br/>
<% end %>

    </div>
</div>



