<style>
.bs-docs-example:after {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  content: "Example";
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
form.bs-docs-example {
  padding-bottom: 19px;
}

.bs-docs-example {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  margin: 15px 0;
  position: relative;
}


</style>
<form class="bs-docs-example" style="padding-left: 10px; padding-top: 30px;">
            <legend>Legend</legend>
            <label>Label name</label>
            <input type="text" placeholder="Type something…">
            <span class="help-block">Example block-level help text here.</span>
            <label class="checkbox">
              <input type="checkbox"> Check me out
            </label>
            <button type="submit" class="btn">Submit</button>
          </form>
