        <div class="row" style="margin-left: 0px;">
          <div class="span" style="background-color: #F4F4F4; padding-left: 10px;">
            <h5 style="color: #747474; float: left; font-size: 14px; padding: 5px 0; ">39 Items found</h5>
          </div>
          <div class="span" style="margin-left: 0px;background-color: #F4F4F4; padding-left: 10px;">
            <h5 style="color: #747474; float: left; font-size: 14px; padding: 5px 0; "> Sort by </h5>
            <select style="margin-left: 10px;">
              <option value="1">Description</option>
              <option value="2">Price ascending</option>
              <option value="3">Price descending</option>
            </select>
          </div>
        </div>





<% varray = @toys.in_groups_of(3) %>
<% varray.each_with_index do |ts,index| %>
<div class="row-fluid show-grid" style="margin-top: 10px;">

  <% ts.each do |t| %>
    <% if t %>
              <div class="span4">
                <div class="thumbnail">

                  <%= image_tag(t.avatar.url(:small), :style => "width: auto; height: 220px;") %>

                  <div class="caption">
                    <h5><%= t.name %></h5>
                    <p><%= t.description %></p>
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                  </div>
                </div>
              </div>
    <% end %>
  <% end %>
</div>
<% end %>
