<% @toys.each do |itm| %>

<div id="itm_<%= itm.id %>">
  <%= image_tag('/images/ajax-loader-a.gif') %>
</div>
<%= render :partial => "common_toys/shared/toy_item", :locals => {:itm => itm }  %>

<% end %>

<script type="text/javascript">
function GetImage(item_id){

  $.ajax({
    url: '<%= get_img_common_toys_url %>',
    type: 'GET',
    dataType: 'script',
    data: {
      itm_id: item_id
    },
    success: function(data){
      //$('#itm_'+item_id).html('LOAD XONG');
    }
  });//end ajax


}
</script>
